<h1>Create a New Book</h1>


<form method="post" action="/books" >
  <label>Title</label>
  <input type="text" name="book[title]"/>
  <label>Snippet</label>
  <input type="text" name="book[snippet]" />
  <input type="submit" />
</form>
