<h1>Book Show Page</h1>

<h2><%= @book.title %></h2>

<p><%= @book.snippet %></p>

<ul>
  <% @book.genres.each do |genre| %>
    <li><%= genre.name %></li>
  <% end %>
</ul>

<a href="/books/<%=@book.id%>/edit">Edit This Book</a>
